@charset "utf-8";


html{overflow-y:scroll; overflow-x:hidden;}
html, body{margin:0; padding:0; font-size:15px; line-height:1.6em;}

*, *::before, *::after{box-sizing:border-box;}

.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.block{display:block;}
.inline{display:inline-block;}
.justified{text-align:justify;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}

.btn{display:inline-block; padding:8px 18px 10px; text-transform:uppercase; border:1px solid;}
.btn2{display:inline-block; padding:8px 18px 10px; text-transform:uppercase; border:1px solid;
    background-color: #2a9292; color: #FFF; border-color: #2a9292}
.btn2:hover{background-color: #FFF; color: #000; border-color: #000}
.btn2disabled{display:inline-block; padding:8px 18px 10px; text-transform:uppercase; border:1px solid;
    background-color: #999; color: #FFF; border-color: #999;}
.btn3{display:inline-block; padding:8px 18px 10px; border-bottom: 0.5px solid #B946AD;
    background-color: #F6F6F6; color: #444; display: flex; justify-content: center; align-items: center; height: 60px; width: 100%;}
.btn3:hover{background-color: #e1b0dc;}



blockquote{display:block; position:relative; width:100%; margin:0; padding:30px; line-height:1.4; border-radius:10px; z-index:1;}
blockquote::before{display:block; position:absolute; top:0; left:0; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:60px; line-height:60px; content:"\f10d"; z-index:-1;}

.clear, .group{display:block; }
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin-right: 10px; clear:left;}
.imgr{margin-left: 10px; clear:right;}
.imgservicel{float:left;height:200px; width:200px; margin-right: 20px;}
.imgservicer{float:right;height:200px; width:200px; margin-left: 20px;}
.imgover{display:inline-block; position:relative; max-width:100%;}
.imgover::before, .imgover::after{display:block; position:absolute; content:""; text-align:center; opacity:0;}
.imgover::before{top:0; right:0; bottom:0; left:0;}
.imgover::after{top:50%; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:28px;}
.imgover:hover::before, .imgover:hover::after{opacity:1;}


/* Fonts
--------------------------------------------------------------------------------------------------------------- */
body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}
p, h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, Bierstadt Display, Times, serif;}




/* Forms
--------------------------------------------------------------------------------------------------------------- */
form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label, input, textarea, select, button{display:block; resize:none; outline:none; color:inherit; font-size:inherit; font-family:inherit; vertical-align:middle;}
label{margin-bottom:5px;}
:required, :invalid{outline:none; box-shadow:none;}
::placeholder{opacity:1;}/* Makes sure the placeholder text is not transparent */


/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 30px 0; font-size:1.4rem; line-height:normal; font-weight:normal; }
h1 {font-size:2rem;}
h2 {font-size:1.9rem;}
h3 {font-size:1.8rem;}
h4 {font-size:1.7rem;}
h5 {font-size:1.6rem;}
h6 {font-size:1.5rem;}
p {font-size:1.1rem;}

.heading.nospace{margin-bottom:0;}
.heading.underline{display:inline-block; position:relative; padding:0 0 15px 0;}
.heading.underline::after{display:block; position:absolute; bottom:0; width:25%; height:5px; border-radius:3px; content:"";}
.center .heading.underline::after, .sectiontitle .heading.underline::after{left:50%; margin-left:-12%;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:1.2rem;}
.font-x2{font-size:2.3rem;}
.font-x3{font-size:3.4rem;}

.wrapper{display:block; position:relative; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hoc{display:block; margin:0 auto;}


/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}


/* Grid - RS-MQF 1140 V.2 - https://www.os-templates.com/free-basic-html5-templates/rs-mqf-1140
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 4.21052%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:21.8421%;}
.one_third{width:30.52631%;}
.one_half, .two_quarter{width:47.89473%;}
.two_third{width:65.26315%;}
.three_quarter{width:73.94736%;}
.one{width: 100%;}


/* Spacing
--------------------------------------------------------------------------------------------------------------- */
.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-20{margin-bottom:20px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.rgtspace-5{margin-right:5px;}
.rgtspace-10{margin-right:10px;}
.rgtspace-15{margin-right:15px;}
.rgtspace-20{margin-right:20px;}
.rgtspace-30{margin-right:30px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-20{padding:20px;}
.inspace-30{padding:30px;}

/* Messages
--------------------------------------------------------------------------------------------------------------- */

.message-r{float: right; clear: both; width: 500px; background-color:#FCE093; padding: 5px 10px; border-radius: 10px 30px; display: flex; flex-direction: column;}
.message-l{float: left; clear: both; width: 500px; background-color:#F79CEC; padding: 5px 10px; border-radius: 30px 10px; display: flex; flex-direction: column;}
.date-message-r{color: #555; font-size: 0.9rem; margin: 0px; padding-left: 10px; }
.date-message-l{color: #555; font-size: 0.9rem; margin: 0px; padding-right: 10px; }
.send-message {
  display: flex;
  align-items: flex-end;
  border: 1px solid #888;
  height: 121px;
  padding: 15px;
}
.send-message-form {
    display: inline-flex;
    width: 100%;
}
.message-area {
    padding: 10px 15px;;
    resize: none;
    height: 90px;
    width: 90%;
    border-radius: 15px;
    border: none;
}
.send-btn {
    margin-left: -20px;
    background-color: #555;
    color: #FFF;
    padding: 31px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.btn3_selected{display:inline-block; padding:8px 18px 10px; border-bottom: 0.5px solid #B946AD;
    background-color: #B946AD; color: #FFF; display: flex; justify-content: center; align-items: center; height: 60px; width: 100%;}
.chat_title{text-align: center; padding: 20px; color: #FFF; background-color: #B946AD; margin-bottom: 0px;}
.btn-new_con{display:inline-block; padding:8px 18px 10px; border-bottom: 0.5px solid #30BA1A; border-radius: 4px;
    background-color: #30BA1A; color: #FFF; display: flex; justify-content: center; align-items: center; height: 75px; width: 100%;}
.btn-new_con:hover{background-color: #2AA017;}
.notReadMess{margin-left:10px; padding:0px 7px; border-radius: 50px; background-color: #35AA81; color:#FFF}
.send-message-new-loc {
  display: flex;
  align-items: flex-end;
  border: 1px solid #888;
  height: 180px;
  padding: 20px;
}
.username-locatore {
    margin: 0px 0px 15px 15px;
    padding: 10px 15px;
    height: 30px;
    width: 75%;
    border-radius: 10px;
    border: none;
}
.label-new-locatore{
    padding-top: 4px;
    padding-left: 10px;
    color: #333;
}

/* Faqs
--------------------------------------------------------------------------------------------------------------- */

.faq-ques-box{background-color: #D13AC1; color:#FFF; border-radius: 5px 5px 0px 0px; margin-bottom: 0px; padding: 10px 20px 10px 20px; vertical-align: middle;}
.faq-ques-1{width: 77%; float: left; font-size: 1.3rem; padding: 7px;}
.faq-ques-2{width: 100%; padding:10px 20px; font-size: 1.3rem; background-color: #D13AC1; color:#FFF; border-radius: 5px 5px 0px 0px; margin-bottom: 0px; vertical-align: middle;}
.faq-ans{background-color: #F0F0F0; border-radius: 0px 0px 5px 5px; margin-top: 0px;}
.btn-faq-m {
    display:inline-block;
    background-color: #2a9292; 
    text-transform:uppercase;
    color: #FFF;
    padding: 7px 15px;
    border-radius: 10px;
    vertical-align: middle;
    height: min-content;
    margin-left: 15px;
    cursor: pointer;
}
.btn-faq-m:hover{background-color: #1C7878;}
.btn-faq-d {
    display:inline-block;
    background-color: #D60D0D;
    color: #FFF;
    text-transform:uppercase;
    padding: 7px 15px;
    vertical-align: middle;
    border-radius: 10px;
    height: min-content;
    margin-left: 15px;
    cursor: pointer;
}
.btn-faq-d:hover{background-color: #B00C0C;}
.btn-faq-a{
    display: inline-block;
    background-color: #30BA1A;
    color: #FFF;
    text-transform:uppercase;
    padding-top: 22px;
    border-radius: 5px;
    height: 70px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-family: Verdana;
}
.btn-faq-a:hover{background-color: #2AA017;}


/* Gestione alloggi
--------------------------------------------------------------------------------------------------------------- */

.btn-acc-d{
    display:inline-block; 
    text-transform:uppercase; 
    border:1px solid; 
    cursor: pointer;
    background-color: #D60D0D;
    border-color: #D60D0D;
    color:#FFF;
    padding: 10px; 
    margin-bottom: 20px;
    width:50%;
}
.btn-acc-d:hover{
    background-color: #FFF;
    color:#000;
    border-color: #000;
}
.btn-acc-a{
    cursor: pointer;
    text-transform:uppercase; 
    padding: 15px 25px; 
    font-size: 1.7em;
    background-color: #30BA1A;
    color:#FFF;
    border-color: #30BA1A;
    width:100%;
}
.btn-acc-a:hover{
    background-color: #2AA017;
    color:#FFF;
    border-color: #2AA017;
}

/* Profilo
--------------------------------------------------------------------------------------------------------------- */
.btn-upd-prof{
    cursor: pointer;
    text-align: center;
    width: 350px;
    padding:8px 18px; 
    text-transform:uppercase; 
    border:1px solid;
    background-color: #B946AD; 
    color: #FFF; 
    border-color: #B946AD;
    margin-bottom: 10px;
}
.btn-upd-prof:hover{
    background-color: #FFF; 
    color: #000; 
    border-color: #000;
}

.info-pers{
    border-radius: 5px;
    background-color: #DDD;
    margin: 20px 250px 20px 250px;
    padding: 20px 50px 20px 150px;
}